### woptic/make.sys.example
#
#   Options for Makefiles in subdirectories
#
# The main purpose of this file is to allow compilation in a non-WIEN
# environment (i.e., the placeholders in Makefile.orig have not been
# replaced to create Makefile)
#
# Copyright 2014-2016 Elias Assmann
#

### Select Fortan compiler
ifeq "$(origin FC)" "default"
#FC      = ifort
FC      = gfortran
endif


### ‘src/Makefile’ uses ‘-llapack -lblas’ by default, override here to
### use e.g. MKL
LDFLAGS ?= -L$(MKLROOT)/lib/intel64
LDLIBS 	?= -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_intel_thread -lmkl_core -openmp -lpthread


### These options enable some code that uses semi-recent Fortran
### features.  Remove if you use an old compiler that does not support
### them.
FFLAGS += -DHAVE_PTR_ALLOC_GENERICS -DHAVE_VARLEN_STR


### Compiler-specific suggestions.
ifneq "$(findstring gfortran,$(FC))" ""
FFLAGS += -ffree-form -g -pedantic -Wcharacter-truncation -Wall #-fcheck=all
# suppress gfortran's stupid warnings about uninitialized array bounds
FFLAGS += -Wno-maybe-uninitialized -ffree-line-length-0
FFLAGS += -Wcharacter-truncation -Wextra #-Wconversion

else ifneq "$(findstring ifort,$(FC))" ""
FFLAGS += -free -gen-interface nosource -traceback -g -warn all -assume buffered_io
#-debug all -check format,uninit,output_conversion -warn all
#FFLAGS   += -ipo

endif


##/---
## Local Variables:
## mode: makefile-gmake
## End:
##\---
